<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>About Louvenir | Louvenir</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="asaaab/user/themes/base/images/favicon.png">
    <link rel="canonical" href="about-louvenir.html" id="canonical">
    <meta name="google-site-verification" content="LBVZwwVA-IThrACK_isQTfjceIOsSGotEtaWEtbu_wA">
    
            <script src="js/platform.js" async="" defer=""></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);w.gtag=function(){dataLayer.push(arguments);}
})(window,document,'script','dataLayer','GTM-KP49M54');</script>
<!-- End Google Tag Manager -->    
            <meta name="description" content="We want everyone to be able to decorate their homes with artwork that celebrate all of life’s precious moments, memories & milestones. Personal artwork that tell your own, unique story.">
        <meta name="twitter:card" property="twitter:card" content="summary">
        <meta property="og:site_name" content="Louvenir">
        <meta property="og:title" content="About Louvenir">
        <meta property="og:url" content="https://www.louvenir.com/about-louvenir">
        <meta property="og:description" content="We want everyone to be able to decorate their homes with artwork that celebrate all of life’s precious moments, memories & milestones. Personal artwork that tell your own, unique story.">

                
    <script type="javascript">document.documentElement.style.setProperty('--vh', `${window.innerHeight/100}px`);</script>


    
    
                
        

    <link href="asaaab/assets/5bee41ecfbc9d9cc65aec49cf0e2778d.css" type="text/css" rel="stylesheet">

    <script src="asaaab/assets/68f800f04a686f4d4748d1adfb376a5c.js"></script>


</head>

<body class="page-loading page-about-louvenir bullets-row-is-visible">

            <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="ns.html?id=GTM-KP49M54" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->    
    <script>        

        var page = {};
        var __dcid = __dcid || [];

    
            page = {  
                type: "home",
                language: "kz",
                currency: "tg"
            };

    
        page.translations = {                
            readMore: "Read more",
            readLess: "Read less",
            imageUploaded: "Your image is uploaded.",
            imageEvaluate: "Our artists will evaluate your image to guarantee it meets our high standards to make beautiful art. We will contact you if the quality of the image is not high enough or if the angle is not suitable for the artwork. We always send a digital proof for your final approval before print to ensure you will be satisfied with your purchase.",
            changeImage: "Change image",
            payWithPaypal: "Pay with"
        };
        page.links = {
            'page-privacy-policy': '/privacy-policy',
            'page-cookies': '/cookies',
            'page-terms': '/terms'
        };
        
    </script>



    <div class="position-fixed w-100 h-100 bg-lightest-gray align-items-center justify-content-center louvenirLoadPage">
        <div class="louvenirLoadPage-container position-relative">
            <div class="louvenirLoadPage-svg position-absolute mx-auto animation animation-pulse"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 41.9 52.9" enable-background="new 0 0 41.9 52.9" xml:space="preserve">
<path fill="#5B295F" d="M18.5,31.1c-1.7,1.3-3.3,2.6-4.7,3.9c-1.4,1.3-2.7,2.6-3.7,4c0.5,1.6,0.8,3.1,1.1,4.6
    c0.3,1.5,0.5,3.1,0.5,4.7c0,1.6-0.2,2.8-0.6,3.5c-0.4,0.7-0.8,1.1-1.4,1.1c-0.5,0-1-0.3-1.5-0.8c-0.5-0.5-1-1.2-1.5-2.2
    c-0.5-0.9-0.8-2-1.1-3.3c-0.3-1.3-0.4-2.6-0.4-4.1c0-1.2,0.1-2.3,0.3-3.4c0.2-1.1,0.5-2.1,0.9-3.1c-0.8-1.3-1.5-2.6-2.3-3.9
    c-0.8-1.3-1.4-2.6-2-4c-0.6-1.4-1.1-2.8-1.5-4.2C0.2,22.5,0,21,0,19.5c0-2.4,0.3-4.4,1-6.2c0.7-1.8,1.6-3.2,2.6-4.4
    c1.1-1.2,2.2-2.1,3.5-2.7c1.3-0.6,2.5-0.9,3.6-0.9c1.4,0,2.6,0.4,3.6,1.3c1,0.9,1.5,2.2,1.5,3.9c0,0.9-0.2,1.8-0.5,2.8
    c-0.3,1-1.1,1.8-2.2,2.5l-0.5-0.5c0.7-0.4,1.3-1,1.7-1.8c0.4-0.8,0.6-1.7,0.6-2.7c0-1.4-0.4-2.5-1.2-3.3C13,6.6,12,6.2,10.9,6.2
    c-0.8,0-1.6,0.2-2.4,0.6c-0.8,0.4-1.5,1.1-2.2,2c-0.6,0.9-1.2,2-1.6,3.5c-0.4,1.4-0.6,3.1-0.6,5c0,2.7,0.4,5.3,1.1,7.8
    c0.8,2.5,1.6,5.1,2.6,7.6c1.2-2,2.7-3.8,4.5-5.3c1.8-1.6,3.7-3,5.8-4.4c0.3-3.7,1.1-7,2.5-9.9c1.3-2.9,2.9-5.3,4.7-7.2
    C27.2,4,29,2.5,31,1.5c2-1,3.8-1.5,5.4-1.5c1.6,0,2.9,0.5,3.9,1.4c1,1,1.5,2.4,1.5,4.5c0,1.5-0.3,2.9-1,4.4
    c-0.7,1.4-1.6,2.8-2.7,4.2c-1.1,1.4-2.4,2.8-3.9,4.1c-1.5,1.3-3.1,2.7-4.8,4c-1.7,1.3-3.4,2.7-5.2,4c-1.8,1.3-3.5,2.6-5.1,3.9
    L18.5,31.1z M7.4,45.6c0,0.3,0,0.7,0.1,1.4c0.1,0.7,0.2,1.3,0.3,2c0.2,0.7,0.4,1.3,0.7,1.8c0.3,0.5,0.7,0.8,1.2,0.8
    c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.7c0.1-0.3,0.1-0.6,0.1-0.9c0-0.3,0-0.6,0-0.8c0-1.5-0.2-2.9-0.6-4.2
    c-0.4-1.3-0.9-2.6-1.5-3.9C7.9,42.5,7.4,44,7.4,45.6z M31.5,3.5c-1.8,0.7-3.6,1.9-5.3,3.5c-1.7,1.6-3.2,3.6-4.5,6.2
    c-1.3,2.5-2.2,5.6-2.6,9.2c2.5-1.6,5-3,7.6-4.3c2.6-1.3,4.9-2.6,7-3.9c2.1-1.3,3.8-2.7,5.1-4.1c1.3-1.4,2-3,2-4.8
    c0-0.9-0.4-1.7-1.2-2.2c-0.8-0.5-1.9-0.8-3.2-0.8C35,2.4,33.4,2.8,31.5,3.5z"/>
</svg>
</div>
            <div class="d-inline-block position-releative align-top louvenirLoadPage-circle"></div>
        </div>
    </div>

<!-- Menu Telephone -->
    <div class="container-menu-left links-no-style">
        <div class="menu vh10 position-relative overflow-hidden">
            <div class="menu-inner vh100 overflow-y">
    <h4 class="bg-lightest-gray txt-gray pt-3 pb-3 mb-0 border-gray-bottom text-center sticky-top text-small font-weight-500">Меню</h4>

    <a class="p-3 d-block full-width border-gray-bottom text-small txt-black font-weight-500" href="index.html">Главная</a>
    <a class="p-3 d-block full-width border-gray-bottom text-small txt-black font-weight-500" href="design-your-own-map-poster.html">Географика</a>
    <a class="p-3 d-block full-width border-gray-bottom text-small txt-black font-weight-500" href="about.html">Суть</a>
    <a class="p-3 d-block full-width border-gray-bottom text-small txt-black font-weight-500" href="customer-service.html">Обслуживание клиентов</a>
    </div>
        </div>
    </div>
<!-- Menu Telephone -->

<!-- Menu Close -->
    <div class="container-menu-overlay" js-action-click="menu-close">
        <i class="material-icon menu-close clickable position-fixed txt-white animation animation-fadeIn" js-action-click="menu-close">Закрыть</i>
    </div>
<!-- Menu Close -->

<div class="container-main">


<div class="container-fluid sticky-top border-gray-bottom bg-white text-small shadow-sm p-0 pt-lg-1 pb-lg-1">
    <div class="container pl-3 pr-3 pl-md-3 pr-md-3">
        <div class="row d-flex align-items-center justify-content-between pt-lg-0 pb-lg-0 header-row">

            <div class="d-lg-none col-4 col-md header-menu">
                <a href="#" class="txt-dark-gray text-smallest" js-action-click="menu-left-open">
                    <div class="pt-25 pb-25 pt-lg-0 pb-lg-0">
                        <img loading="eager" src="asaaab/user/themes/base/images/icon/icon-menu.svg" class="icon" width="21" height="16">
                    </div>
                </a>
            </div>




            <!-- Logo -->
     <!--        <div class="col-4 col-md text-center text-lg-left p-0 pl-lg-3">
                <a href="index.html">
                    <div class="pt-25 pb-25 pt-lg-0 pb-lg-0">
                        <img loading="eager" src="logo.png" class="nav-logo" width="191" height="14">
                    </div>
                </a>
            </div> -->
            <!-- Logo -->


            <!-- Navbar -->
            <div class="header-cart flex-grow-1">
                <span class="snipcart-summary">
                    <a href="#" class="snipcart-checkout float-right">
                        <img loading="eager" src="asaaab/user/themes/base/images/icon/icon-shopping-bag.svg" class="icon mr-1" width="18" height="21">
                        <span class="snipcart-total-items snipcart-items-count">0</span>                            
                    </a>
                </span>

                 <a href="customer-service.html" class="clickable float-right mr-4 ml-3 d-none d-xl-block text-smallest">Обслуживание клиентов</a>
                  
                  <a href="about.html" class="clickable float-right mr-4 ml-3 d-none d-xl-block text-smallest">Суть</a>
           
                    <a href="design-your-own-map-poster.html" class="clickable float-right mr-4 ml-3 d-none d-xl-block text-smallest">Географика</a>

                    <a href="index.html" class="clickable float-right mr-4 ml-3 d-none d-xl-block text-smallest">Главная</a>



                <div class="float-right line-height-1 d-none d-lg-block">
                    <div class="header-language js_collapse language-picker d-inline-block position-relative m-0">
                    </div>                
                </div>
            </div>
            <!-- Navbar -->

        </div>
    </div>
</div>





        
<div class="container mt-4 mt-lg-5">
		<div class="row pb-5">
			<div class="col-12 col-lg-6 mb-3">
				<img src="asaaab/user/themes/base/images/placeholder/ph-4x3.gif.html" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/themes/base/images/hero/hero-allposters-2.jpg" width="1200" height="900">
			</div>

			<div class="col-12 col-lg-6 pl-lg-4">
				<h1>О Mappin</h1> <p class="h3 txt-dark-gray">Мы хотим, чтобы каждый мог украсить свой дом произведениями искусства, отражающими все драгоценные моменты, воспоминания и воспоминания о жизни. вехи. Персональные работы, рассказывающие вашу уникальную историю. </p>
<p> Произведение, оживляющее прекрасные воспоминания и эмоции. И для себя, и для всех, кого вы дорожите своим сердцем. Место, где вы можете разработать личные подарки, которые будут продуманными и покажут, как много для вас кто-то значит.
   Всегда изготавливаются из лучших материалов, одобренных ведущими музеями и галереями как подходящие для воспроизведения традиционного искусства. Просто лучшее качество, соответствующее эмоциональной ценности, вложенной в произведение искусства.
</p>
<div class="testimonial"> <p>Мы выбрали название Louvenir как сочетание слов «Сувенир» (по-французски «воспоминания») и «Любовь». Все дело в создании милых сувениров от души - сделанных с любовью, сделанных для вас!</p> </div>


			</div>
		</div>
	</div>

    <div class="container text-center mt-3 mb-0 mt-md-5">
			<div class="position-relative">
			<h2 class="title-line-header position-relative bg-white text-center pl-md-4 pr-md-4">Наши самые популярные персонализированные редакторы плакатов</h2>
			<div class="title-line-border d-none d-md-block"></div>
		</div>
	
	</div>

<div class="container container-carousel links-no-style position-relative mb-3 hidden">

	<div class="carousel full-width overflow-hidden">
		<div class="carousel-inner d-flex">
			
				<a href="personalised-star-map-poster/spU5F5.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-star-map/pU5F5/poster-star-map.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-map-poster/spk6A6.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-street-map/pk6A6/poster-street-map.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
												<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-wedding-poster/sjA2m4.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-wedding/jA2m4/poster-wedding.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="ultrasound-poster/shapetrapezoid.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-4x5.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/portrait-ultrasound/images/environment/ultrasound-20x25-white-trapezoid.jpg" draggable="false" class="mb-3 border-gray" width="500" height="625"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-birth-poster/stt7A3.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-birth/tt7A3/poster-birth.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
												<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-coordinate-poster/smK6D2.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-coordinate/mK6D2/poster-coordinate.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-stadium-poster/scm6Y4.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-stadium/cm6Y4/poster-stadium.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
				<a href="personalised-zodiac-poster/svH0b6.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-zodiac/vH0b6/poster-zodiac.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong">Постер картой</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">Из 20 000 Тг</span>
					</div>
				</a>


			
			



					</div>


	</div>

</div>


	<br>

<!-- footer -->
<footer class="container-fluid p-0 pt-5 border-gray-top">
	    <div class="container-fluid  pt-5 pb-5" style="background-color: #604020; color: #0000;">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3 mb-3">
                    <h5 class="txt-white mb-3 text-small">Бестселлеры</h5>
                    <a href="design-your-own-map-poster.html" class="d-block txt-light-gray text-small mb-1">Плакат с картой</a>
                    <a href="about.html" class="d-block txt-light-gray text-small mb-1">Суть</a>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-3">
                    <h5 class="txt-white mb-3 text-small">Ссылки</h5>
                    <a href="customer-service.html" class="d-block txt-light-gray text-small mb-1">Обслуживание клиентов</a>
                    <a href="terms.html" class="d-block txt-light-gray text-small mb-1">Условия и положения</a>
                    <a href="privacy-policy.html" class="d-block txt-light-gray text-small mb-1">Политика конфиденциальности</a> 
                     <a href="cookies.html" class="d-block txt-light-gray text-small mb-1">Cookies</a> 
                </div>
                
                <div class="col-6 col-md-6 col-lg-3 mb-3">
                    <h5 class="txt-white mb-3 text-small">Подписывайтесь на нас</h5>
                    <a href="louvenir.art/index.htm" class="d-block txt-light-gray text-small mb-1" target="_blank">
                        <img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/themes/base/images/social-media-icons/icon-facebook-gray.png" class="mr-1" style="max-height: 14px; max-width: 14px;" width="32" height="32"> Facebook</a>
                    <a href="louvenir.art/index-1.htm" class="d-block txt-light-gray text-small mb-1" target="_blank">
                        <img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/themes/base/images/social-media-icons/icon-instagram-gray.png" class="mr-1" style="max-height: 14px; max-width: 14px;" width="32" height="32"> Instagram</a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <h5 class="txt-white mb-3 text-small">Мы обещаем</h5>
                    <div class="txt-light-gray text-small mb-1">Бесплатная доставка в 20+ стран</div>
                    <div class="txt-light-gray text-small mb-1">Гарантия довольных клиентов</div>
                    <div class="txt-light-gray text-small mb-1">Бумага высокого качества и печать</div>
                </div>
            </div>        
        </div>        
    </div>       
</footer>            
<!-- footer -->                    
                 
       





            
        
    </div>

        <div hidden="" id="snipcart" data-api-key="ODRkZDAxN2UtY2U3My00YWYwLTkzZDEtMDFjNGVlYjE3OTI1NjM2Njg2NDMyNjQ3NjA0NjAz" data-currency="eur">

    <featured-payment-methods>
        <div class="snipcart-featured-payment-methods">
            <h3 class="snipcart__font--secondary snipcart__font--bold  snipcart-featured-payment-methods__title">
                <a :href="securedByUrl" class="snipcart-featured-payment-methods__link" target="_blank" rel="nofollow noopener">
                    <icon name="lock" class="snipcart-featured-payment-methods__title-icon"></icon>
                    {{ $localize('cart.secured_by') }}
                </a>
            </h3>
        </div>
    </featured-payment-methods>

    <cart-summary-fees>

        <div class="snipcart-cart-summary-fees">

            <div class="snipcart-cart-summary-fees">                

                <div class="snipcart-cart-summary-fees__discount-container" v-for="discount in discounts" :key="discount.id">
                    <div class="snipcart-cart-summary-fees__discount-name snipcart__font--black">{{ discount.name }}</div>
                    <div class="snipcart-cart-summary-fees__discount-amount-saved snipcart__font--black">-{{ discount.amountSaved | money(cart.currency)}}</div>
                </div>

                <div class="snipcart-cart-summary-fees__item snipcart__font--slim" v-if="subtotal">
                    <span class="snipcart-cart-summary-fees__title">{{ $localize('cart_summary.subtotal') }}</span>
                    <span class="snipcart-cart-summary-fees__amount">{{ subtotal | money(cart.currency) }}</span>
                </div>

                <div class="snipcart-cart-summary-fees__item snipcart__font--slim" v-if="hasShipping">
                    <span class="snipcart-cart-summary-fees__title">{{ $localize('cart_summary.shipping') }}</span>
                    <span class="snipcart-cart-summary-fees__amount">{{ shipping.cost | money(cart.currency) }}</span>
                </div>

                <div class="snipcart-cart-summary-fees__item snipcart__font--slim snipcart-taxes" v-for="tax in taxes" :key="tax.name">
                    <span class="snipcart-cart-summary-fees__title"> {{ tax.name }}</span>
                    <span class="snipcart-cart-summary-fees__amount">{{ tax.amount | money(cart.currency) }}</span>
                </div>

                <div class="snipcart-cart-summary-fees__item snipcart-cart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                    <span class="snipcart-cart-summary-fees__title snipcart-cart-summary-fees__title--highlight snipcart__font--large">{{ $localize('cart_summary.total')}}</span>
                    <span class="snipcart-cart-summary-fees__amount snipcart-cart-summary-fees__amount--highlight snipcart__font--large">{{ total| money(cart.currency) }}</span>
                </div>
                
            </div>
        </div>

    </cart-summary-fees>

    <payment-methods-list>

        <loading-overlay :message="$localize('payment.processing_payment')" class="snipcart-payment-methods-list__container" :opaque="true">         

            <div class="snipcart-overlay--disabled" v-if="disabled"></div>

            <div>
                <div class="snipcart-terms">By approving this purchase, you agree to Louvenir's  <a href="terms.html" target='blank' style="text-decoration: underline; display: inline;">Terms &amp; Conditions</a></div>

                <div style="text-align: center;margin-top: 10px;">
                    <h3 class="snipcart__font--secondary snipcart__font--bold" style="display: inline-block;">
                        <a class="snipcart-featured-payment-methods__link" onclick="return false;">
                            <icon name="lock" class="snipcart-featured-payment-methods__title-icon"></icon>
                            {{ $localize('cart.secured_by') }}
                        </a>
                    </h3>
                </div>

                <div class="snipcart-paymentlogos">
                    <img loading="lazy" src="asaaab/user/themes/base/images/logos/cart-payment-logos.png" width="888" height="93">
                </div>
            </div>

            <ul class="snipcart-payment-methods-list snipcart__font--secondary snipcart__font--bold" v-if="paymentMethods.length > 0">
                <payment-methods-list-item :payment-method="paymentMethod" v-for="(paymentMethod, index) in paymentMethods" :key="`${paymentMethod.id}:${index}`" @click="onPaymentMethodSelected"></payment-methods-list-item>
            </ul>  


        </loading-overlay>

    </payment-methods-list>

    <item-line tag="<string>" item="<CartItem>">        
        <li :class="{'snipcart-item-line': true, 'snipcart-item-line--cart-edit': editingCart}">
            <flash-message type="info" icon="box" v-if="stockLimitReached">
                {{ $localize('errors.quantity_revised') }}
            </flash-message>
            <flash-message type="error" icon="box" v-if="outOfStock">
                {{ $localize('errors.quantity_out_of_stock') }}
            </flash-message>
            <div class="snipcart-item-line__container">
                <figure class="snipcart-item-line__media" v-if="showLargeImage">
                    <item-image class="snipcart-item-line__image"></item-image>
                </figure>
                <div class="snipcart-item-line__product">
                    <div class="snipcart-item-line__header">
                        <figure class="snipcart-item-line__media snipcart-item-line__media--small" v-if="showSmallImage">
                            <item-image class="snipcart-item-line__image"></item-image>
                        </figure>

                        <h2 class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                            {{ item.name }}
                        </h2>
                        <div class="snipcart-item-line__actions">
                            <remove-item-action class="snipcart__button--icon">
                                <icon name="trash" class="snipcart__icon--red" alt="item.remove_item"></icon>
                            </remove-item-action>
                        </div>
                    </div>

                    <div class="snipcart-item-line__content">
                        <div class="snipcart-item-line__body">
                            <div class="snipcart-item-line__info">
                                <item-description></item-description>
                            </div>
                            <div class="snipcart-item-line__variants">
                                <item-custom-fields v-if="!adding"></item-custom-fields>
                                <item-quantity class="snipcart-item-line__quantity" v-if="!adding" :disabled="outOfStock"></item-quantity>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
    </item-line>

    <billing>
        <div class="snipcart__box">
            <div class="snipcart__box--header">
                <div class="snipcart__box--title">
                    <div class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">{{ number }}</div>
                    <h1 class="snipcart__font--subtitle">
                        {{ $localize('billing.title') }}
                    </h1>
                </div>
            </div>

            <snipcart-error-message></snipcart-error-message>
            
            <fieldset class="snipcart-form__set">
                <div class="snipcart-form__field">
                    <snipcart-label class="snipcart__font--tiny" for="name">
                        {{ $localize('address_form.name') }}
                    </snipcart-label>
                    
                    <snipcart-input name="name"></snipcart-input>
                    <snipcart-error-message name="name"></snipcart-error-message>
                </div>

                <div class="snipcart-form__field">
                    <snipcart-label class="snipcart__font--tiny" for="email">
                        {{ $localize('address_form.email' )}}
                    </snipcart-label>

                    <snipcart-input name="email" v-if="!emailIsReadonly"></snipcart-input>
                    <span class="snipcart__font--secondary snipcart__font--bold" v-else="">{{ state.email }}</span>
                    <snipcart-error-message name="email"></snipcart-error-message>
                </div>
            </fieldset>

            <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="telephone">
                    Telephone
                </snipcart-label>
                
                <snipcart-input name="telephone"></snipcart-input>
                <snipcart-error-message name="telephone"></snipcart-error-message>
            </div>

            <address-fields></address-fields>

            <hr class="snipcart-form__separator" v-if="shippingEnabled">

            <fieldset class="snipcart-form__set" v-if="shippingEnabled">
                <div class="snipcart-form__field">
                    <div class="snipcart-form__field-checkbox">
                        <snipcart-checkbox name="useDifferentShippingAddress" @input="useDifferentShippingAddressHandler"></snipcart-checkbox>

                        <snipcart-label class="snipcart__font--tiny snipcart-form__label--checkbox" for="useDifferentShippingAddress">
                            {{ $localize('billing.use_different_shipping_address') }}
                        </snipcart-label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="snipcart-form__set">
                <div class="snipcart-form__field">
                    <div class="snipcart-form__field-checkbox">
                        <snipcart-checkbox name="subscribeToNewsletter"></snipcart-checkbox>
                        <snipcart-label class="snipcart__font--tiny snipcart-form__label--checkbox" for="subscribeToNewsletter">
                            Sign me up for news, offers and exclusive subscriber discounts.
                        </snipcart-label>
                    </div>
                </div>
            </fieldset>

            <div class="snipcart-form__footer">
                <submit-button type="submit" class="snipcart-cart-button--highlight snipcart__font--large">
                    {{ shippingEnabled ? $localize('billing.continue_to_shipping') : $localize('payment.continue_to_payment') }}
                </submit-button>
            </div>
        </div>
    </billing>

    <shipping-address section="top">

        <div>

            <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="name">
                    {{ $localize('address_form.name') }}
                </snipcart-label>
                
                <snipcart-input name="name"></snipcart-input>
                <snipcart-error-message name="name"></snipcart-error-message>
            </div>

            <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="telephone">
                    Telephone
                </snipcart-label>
                
                <snipcart-input name="telephone"></snipcart-input>
                <snipcart-error-message name="telephone"></snipcart-error-message>
            </div>

        </div>

    </shipping-address>

    <cart>
        <section class="snipcart-cart__content">

            <item-list item-template="item-line" class="snipcart-item-list--no-shadow"></item-list>

            <div class="snipcart-cart__footer">
                <div class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions">
                    <discount-box class="snipcart-cart__discount-box"></discount-box>
                </div>

                <div class="snipcart-cart__footer-col">
                    <cart-summary-fees class="snipcart-cart-summary-fees--reverse">
                        {{ $localize('cart.shipping_taxes_calculated_at_checkout')}}
                    </cart-summary-fees>

                    <footer v-if="!editingCart">
                        <cart-button class="snipcart-cart__checkout-button snipcart-cart-button--highlight snipcart__font--large" icon-right="continue-arrow" :disabled="checkoutDisabled" @click="checkout">
                            {{ $localize('actions.checkout') }}
                        </cart-button>
                    </footer>
                    
                    <div class="snipcart-cart__featured-payment-methods-container">
                        <featured-payment-methods v-if="!editingCart"></featured-payment-methods>
                    </div>
                </div>
            </div>

              

            <div class="checkoutOffer hidden">
                <div class="checkoutOffer-box">
                    <div class="checkoutOffer-titleBox">
                        <div class="checkoutOffer-title">Buy more, save more!</div>
                        <div class="checkoutOffer-subTitle">Get <span>20% extra discount</span> when buying two or more products.</div>
                    </div>
                </div>
               
                <div class="checkoutOffer-carousel">
                    <div class="container text-center">
	
	</div>

<div class="container container-carousel carousel-checkout links-no-style position-relative hidden">

	<div class="carousel full-width overflow-hidden">
		<div class="carousel-inner d-flex">
			
				<a href="personalised-map-poster/spk6A6.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-street-map/pk6A6/poster-street-map.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Map poster</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="personalised-star-map-poster/spU5F5.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-star-map/pU5F5/poster-star-map.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Star map poster</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="personalised-wedding-poster/sjA2m4.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-wedding/jA2m4/poster-wedding.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Wedding poster</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="custom-pet-portrait-baron.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/pet-portraits/pet-portrait-baron/pet-portrait-baron.jpg" draggable="false" class="mb-3 border-gray" width="750" height="750"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Baron portrait</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="custom-human-portrait-earl.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/human-portraits/human-portrait-earl/human-portrait-earl.jpg" draggable="false" class="mb-3 border-gray" width="750" height="750"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Earl portrait</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="personalised-birth-poster/ssh5t1.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-5x7.gif" loading="lazy" data-src="https://d1w0afvwsjp99f.cloudfront.net/en/images/500x700/poster-birth/sh5t1/poster-birth.jpg" draggable="false" class="mb-3 border-gray" width="500" height="700"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Birth poster</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €49</span>
					</div>
				</a>


			
				<a href="pet-digital-sketch.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/pet-portraits/pet-pencil-sketch/pet-pencil-sketch.jpg" draggable="false" class="mb-3 border-gray" width="750" height="750"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Pet sketch</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="pet-digital-aquarelle.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-1x1.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/pet-portraits/pet-aquarelle-sketch/pet-aquarelle-sketch.jpg" draggable="false" class="mb-3 border-gray" width="750" height="750"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Aquarelle sketch</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


			
				<a href="ultrasound-poster/shapetrapezoid.html" class="carousel-image-link d-inlineblock text-center d-flex flex-column" js-action-click="carousel-item-clicked">
					<span class="d-flex align-items-center justify-content-center flex-1"><img src="asaaab/user/themes/base/images/placeholder/ph-4x5.gif" loading="lazy" data-src="https://d361gbievcxqh7.cloudfront.net/asaaab/user/pages/products/portraits/portrait-ultrasound/images/environment/ultrasound-20x25-white-trapezoid.jpg" draggable="false" class="mb-3 border-gray" width="500" height="625"></span>
					<div class="carousel-info">
													<span class="text-small d-block txt-dark-gray strong mb-1">Ultrasound poster</span>
												<span class="text-smallest txt-color-gray price-from d-block font-italic">From €39</span>
					</div>
				</a>


					</div>

		<div class="carousel-dots d-flex justify-content-center text-center p-0 m-0 mt-2 mb-2">
			<div class="d-inline-block clickable" js-action-click="carousel-previous"><i class="material-icon" style="font-size: 22px;">chevron_left</i></div>
			<div class="d-inline-block clickable" js-action-click="carousel-next"><i class="material-icon" style="font-size: 22px;">chevron_right</i></div>
		</div>
	</div>

</div>


<style>
.carousel-image-link {
	margin: 20px !important;
}
</style>                </div>
            </div>

        </section>
    </cart> 

</div>    
    <div class="hidden">     
                     
    </div>

    <div class="widget-cookie animated fadeIn delay-05s" id="cookie-message">
        To improve the user experience at Louvenir we use cookies. By continuing on the page, you accept the use of <a href="#" class="cookies-link" js-action-click="link-open" data-id="page-cookies">cookies</a>.
        <a href="#" class="cookies-close" js-action-click="cookies-accept">OK</a>          
    </div>

</body>
</html>
